<!DOCTYPE html>
<head>
    <title>Eliminazione Autori</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>

<header>
		<!-- Mostra solo se utente è autenticato -->
		<div th:if="${userDetails != null}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<!-- Mostra solo se utente NON è autenticato -->
		<div th:if="${userDetails == null}">
			<a href="/login">Login</a>
		</div>
	</header>

<h1>Seleziona gli autori da eliminare</h1>

<form th:action="@{/admin/deleteAuthors}" method="post">
    <table>
        <thead>
            <tr>
                <th>Seleziona</th>
                <th>Nome</th>
                <th>Cognome</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="author : ${authors}">
                <td><input type="checkbox" name="authorIds" th:value="${author.id}"/></td>
                <td th:text="${author.name}"></td>
                <td th:text="${author.surname}"></td>
            </tr>
        </tbody>
    </table>

    <button type="submit">Elimina selezionati</button>
</form>

<a href="/admin/indexAuthor">Annulla</a>

</body>
</html>
