<!DOCTYPE html>
<html>
<head>
<title>SiwBooks2 - Gestione Libri</title>
<link rel="stylesheet" href="/css/admin.css/indexBook.css" />
</head>
<body>
	<header>
		<!-- Mostra solo se utente è autenticato -->
		<div th:if="${userDetails != null}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<!-- Mostra solo se utente NON è autenticato -->
		<div th:if="${userDetails == null}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="container">
   <div class="logo">
      <a href="/"><img src="/images/logo-siw.png" alt="Logo SIW" /></a>
   </div>

   <h1>Gestione Libri</h1>

   <div class="links-group">
      <a href="/admin/formAddBook">Inserisci un nuovo libro</a>
      <a href="/admin/formUpdateBook">Modifica un libro</a>
      <a href="/admin/formDeleteBook">Elimina un libro</a>
      <a href="/admin/formDeleteReviewFromBook">Cancella una recensione</a>
   </div>
</div>

	
</body>
</html>