/* Stili generali */
body { 
    font-family: "Geneva";
    color: FireBrick;
}

a { 
    text-decoration: none; 
    color: #000040;
}

a:hover { 
    text-decoration: underline; 
}

label {
    width: 8em;
    display: inline-block;
}

/* Header */
header {
    background-color: rgb(102, 0, 0);
    color: white;
    height: 4em;
    margin-bottom: 0.5em;
    padding: 0.2em;
    text-align: right; 
}

header a { 
    text-decoration: none; 
    color: white;
    font-size: 0.6em;
}

/* Box contenitore per link */
.box {
    background-color: bisque;
    width: 300px;
    border: 10px solid green;
    padding: 20px;
    margin: 5px;
}

.paragraph {
    margin-bottom: 20px; /* Aggiunge spazio tra i link */
}


