<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">

<head>
<meta charset="UTF-8">
<title>SiwBooks2 - Lista Libri</title>
<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<header>
		<!-- Mostra solo se utente è autenticato -->
		<div th:if="${userDetails != null}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<!-- Mostra solo se utente NON è autenticato -->
		<div th:if="${userDetails == null}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="logo">
		<img src="/images/logo-siw.png" alt="Logo SiwBooks2" width="20%">
	</div>

	<h1>Libri</h1>

	<!-- Messaggio se lista vuota -->
	<div class="empty-list" th:if="${books == null || books.isEmpty()}">
		Non ci sono libri nel sistema</div>

	<!-- Lista libri -->
	<ul class="books-list" th:if="${books != null}">
		<li class="book-item" th:each="book : ${books}"><img
			class="book-cover" th:src="@{'/book/image/' + ${book.id}}"
			alt="Copertina" width="60" height="90"
			onerror="this.onerror=null;this.src='/images/default-book.png';">

			<div class="book-info">
				<a class="book-title" th:href="@{'/book/' + ${book.id}}"
					th:text="${book.title} + ' (' + ${book.yearOfPublication} + ')'">
					Titolo (Anno) </a> <a class="review-link"
					sec:authorize="hasAuthority('DEFAULT')"
					th:href="@{'/book/' + ${book.id} + '/review'}"> Aggiungi
					recensione </a>

				<p class="book-authors">
					Autori: <span th:each="author : ${book.authors}"
						th:text="${author.name + ' ' + author.surname}"></span>
				</p>


			</div></li>
		<!-- Visualizza gli autori -->
	</ul>
</body>
</html>
