<!DOCTYPE html>
<html>
<head>
<title>SiwBooks2 - Lista Libri</title>
<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<header>
		<!-- Mostra solo se utente è autenticato -->
		<div th:if="${userDetails != null}">
			<span th:text="${userDetails.username}"></span> <a href="/logout">Logout</a>
		</div>
		<!-- Mostra solo se utente NON è autenticato -->
		<div th:if="${userDetails == null}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="logo">
		<img src="/images/logo-siw.png" width="20%" />
	</div>

	<h1>Libri</h1>
	<div th:if="${books==null || books.isEmpty()}">Non ci sono libri
		nel sistema</div>

	<ul>
		<li th:each="book : ${books}">
			<div style="display: flex; align-items: center; gap: 10px;">
				<img th:src="@{'/book/image/' + ${book.id}}" width="50" height="75"
					alt="Copertina"
					onerror="this.onerror=null;this.src='/images/default-book.png';" />

				<a th:href="@{'/book/' + ${book.id}}"
					th:text="${book.title} + ' (' + ${book.yearOfPublication} + ')'">
					Titolo (Anno) </a>
			</div>

			<div th:if="${userDetails != null}">
				<a th:href="@{'/book/' + ${book.id} + '/review'}">Aggiungi
					Recensione</a>
			</div>
		</li>


	</ul>


</body>
</html>